<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Apply for Loan</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">

    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/dignity-icon32.fw.png" >
        </ion-avatar>
        <h2>₦10,000 @ 15%</h2>
        <p>15 Days Sharp Sharp Loan</p>
      </ion-item>
      <ion-card-content>
        <ion-card-title>
          Congratulations !
        </ion-card-title>
        <p>
          Your loan request has been pre-approved. You will be contacted shortly for funds to be disbursed to the bank account you provided.
        </p>
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-content>
        <p style="font-weight: bold; font-size: 120%;">
          Tell Your Friends about FastCredit
        </p>
        <p>
          Refer your friends and earn ₦100 per referral.
        </p>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-only (click)="regularShare(i)" color="primary" clear>
          <ion-icon class="share-icon" name="share"></ion-icon>
        </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only (click)="whatsappShare(i)" class="text-green" clear>
          <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
        </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only (click)="facebookShare(i)" class="text-blue" clear>
          <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
        </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only (click)="twitterShare(i)" class="text-blue-light" clear>
          <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
        </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <div text-center style="margin-top:40px;">
      <button ion-button icon-start color="primary" (click)="moveToHome()" >
        <ion-icon name="create"></ion-icon>
        Close
      </button>
    </div>

</ion-content>
