<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View Loan</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">


    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <div class="">
            <div class="item bg-circle-alt center-div">
              <div> 200 Pts </div>
            </div>
          </div>
        </ion-avatar>
        <h2>Quick 30 Day Loan</h2>
        <p>Loan Basic Details</p>
      </ion-item>

        <ion-card-content>
          <ion-card-title>
              ₦ 10,000 due <strong>20-Mar-19</strong>
          </ion-card-title>
          <p>
            The full details.
          </p>
        </ion-card-content>

    </ion-card>

    <div text-center padding>
      <button ion-button icon-start block color="primary" (click)="moveToPayment()" >
        <ion-icon name="cash"></ion-icon>
        Pay Off Loan
      </button>
    </div>


</ion-content>
