<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<!--
<ion-content padding>

  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Logo">
  </div>


  <p class="centered" ion-text color="primary" padding-left>
      {{navParams?.data?.message}}
  </p>

  <form #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating color="primary">Email or Telephone</ion-label>
          <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
          Your email address or telephone is required
        </p>

        <ion-item>
          <ion-label floating color="primary">Password</ion-label>
          <ion-input [(ngModel)]="login.password" name="password" type="{{ type }}" #password="ngModel" required>
          </ion-input>
          <button *ngIf="!showPass" ion-button large clear color="dark" type="button" item-right (click)="toggleShowPassword()">
            <ion-icon name="ios-eye-off-outline"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button large clear color="dark" type="button"  item-right (click)="toggleShowPassword()">
            <ion-icon name="ios-eye-outline"></ion-icon>
          </button>
        </ion-item>
        <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
          Password is required
        </p>
      </ion-list>

      <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="onSignup()" color="light" block>Register</button>
        </ion-col>
      </ion-row>
    </form>


</ion-content> -->


<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">


      <div padding-horizontal text-center class="user-photo animated fadeInDown" padding-top>
        <ion-avatar>
            <img src="assets/imgs/logo.png" >
        </ion-avatar>
      </div>

      <!-- Login form -->
      <form class="list-form">
        <ion-item>
          <ion-label floating>
            <ion-icon name="call" item-start class="text-primary"></ion-icon>
            Phone Number
          </ion-label>
          <ion-input type="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </form>

      <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

      <div>
        <button ion-button icon-start block color="primary" tappable (click)="login()">
          <ion-icon name="log-in"></ion-icon>
          Log In
        </button>

        <p text-center ion-text color="secondary">Or login with your social media account:</p>

        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-facebook">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-twitter">
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block class="btn-gplus">
                <ion-icon name="logo-googleplus"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>


      <!-- Other links -->
      <div text-center margin-top>
        <span ion-text color="secondary" tappable (click)="register()">Are you new to FastCredit? <strong>Register</strong></span>
      </div>

    </div>
  </ion-content>
