<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="animated fadeIn login auth-page">

  <div class="login-content">

    <div padding-horizontal text-center class="user-photo animated fadeInDown" padding-top>
      <!-- <ion-avatar>
          <img src="assets/imgs/logo.png" >
      </ion-avatar> -->
      <h2 ion-text class="text-primary"> <br><br><br>
          Provide Your details to join <strong>FastCredit</strong>
      </h2>
    </div>


    <!-- <form [formGroup]="registerForm" (ngSubmit)="onSignup()" novalidate> -->
    <form [formGroup]="registerForm" (ngSubmit)="onSignup()" novalidate class="list-form">
      <ion-list>

        <ion-item>
          <ion-label floating>
            <ion-icon name="call" item-start class="text-primary"></ion-icon>
            Phone Number
          </ion-label>
          <ion-input formControlName="phone" type="phone"></ion-input>
        </ion-item>
        <small ion-text *ngIf="!registerForm.controls.phone.valid && submitted == true" color="danger" padding-left>
          Please enter a valid phone number (08012345678)
        </small>

        <ion-item>
          <ion-label floating><ion-icon name="mail" item-start class="text-primary"></ion-icon>Email Address</ion-label>
            <ion-input formControlName="email" type="email">
          </ion-input>
        </ion-item>
        <small ion-text *ngIf="!registerForm.controls.email.valid && submitted == true" color="danger" padding-left>
          Please enter a valid email address (example@mail.com)
        </small>


        <ion-item formGroupName="passwords">
          <ion-label floating><ion-icon name="lock" item-start class="text-primary"></ion-icon>Password</ion-label>
            <ion-input formControlName="password" type="{{ type }}">
          </ion-input>
          <!-- <button *ngIf="!showPass" ion-button large clear color="dark" type="button" item-right (click)="toggleShowPassword()">
            <ion-icon name="ios-eye-off-outline"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button large clear color="dark" type="button"  item-right (click)="toggleShowPassword()">
            <ion-icon name="ios-eye-outline"></ion-icon>
          </button> -->
        </ion-item>
        <!-- <small ion-text *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty" color="danger" padding-left>
          PIN is required
        </small> -->


        <ion-item formGroupName="passwords">
            <ion-label floating><ion-icon name="lock" item-start class="text-primary"></ion-icon>Confirm Password</ion-label>
          <ion-input formControlName="confirmPassword" type="{{ type }}">
          </ion-input>
        </ion-item>
        <!-- <small ion-text *ngIf="registerForm.hasError('notSame', 'passwords') && registerForm.controls.passwords.controls.confirmPassword.dirty" color="danger" padding-left>
          PIN does not match!
        </small> -->


        <ion-item>
            <ion-label floating><ion-icon name="card" item-start class="text-primary"></ion-icon>Bank Verification Number</ion-label>
          <ion-input formControlName="bvn" type="number">
          </ion-input>
        </ion-item>
        <small ion-text *ngIf="!registerForm.controls.bvn.valid && submitted == true" color="danger" padding-left>
          BVN is required
        </small>

<!--
    <ion-list>
      <ion-item>
        <ion-label floating color="primary">Bank Account Number</ion-label>
        <ion-input formControlName="account_num" type="number">
        </ion-input>
      </ion-item>
      <small ion-text *ngIf="!registerForm.controls.account_num.valid && submitted == true" color="danger" padding-left>
        Bank Account Number is required
      </small>
      <br />

      <ion-item>
        <ion-label stacked color="primary">Select your Bank</ion-label>
        <ion-select formControlName="bank">
          <ion-option *ngFor = "let item of bankList" value="{{item.bank_name}}">
            {{item.bank_name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <small ion-text *ngIf="!registerForm.controls.bank.valid && submitted == true" color="danger" padding-left>
        Please select your bank
      </small>
    </ion-list>
-->

    </ion-list>

    <div padding>
      <button ion-button type="submit" [disabled]="registerForm.invalid" block>Register</button>
    </div>

  </form>

  <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>


  </div>

</ion-content>
