page-loan-terms ,
.trip-detail {

  ul.highlight {
    padding-left: 0;
    font-size: 1.2rem;
    list-style: none;

    li {
      margin-bottom: 1rem;
    }
  }

  // change text-sm size
  .text-sm {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  // booking form style
  .booking-form {

    ion-grid {

      ion-row {

        ion-col {
          padding: 0;
        }
      }
    }

    .form-bottom {
      display: flex;
      align-items: center;

      .pull-right {
        margin-left: auto;
      }
    }
  }

  .center-div {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 120px;
    height: 120px;

    padding-bottom: 10%;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    overflow: hidden;
    box-shadow: 0 0 3px gray;

    background-color: gray;
  }

  .bg-circle-alt div {
    float:left;
    width:100%;
    padding-top:40%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;

    color: white;
    font-size: 120%;
    font-weight: bold;
}

}
