<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Loan Terms</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/dignity-icon32.fw.png" >
      </ion-avatar>
      <h2>₦10,000 @ 15%</h2>
      <p>15 Days Sharp Sharp Loan</p>
    </ion-item>

    <ion-card-content>
      <ion-card-title>
        ₦10,000
      </ion-card-title>
      <p>
        To access this loan, just click on the apply button and enter your details. You will be instantly pre-approved for a quick loan. Your account will be credited within 24 hours after final approval.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="border-bottom" padding>
    <span ion-text color="dark" class="bold">Loan Requirements</span>
    <ul class="highlight">
      <li>
        <ion-icon name="checkmark" class="text-red"></ion-icon>
        <span ion-text color="dark">Your BVN is required</span>
      </li>
      <li>
        <ion-icon name="checkmark" class="text-red"></ion-icon>
        <span ion-text color="dark">Your telephone number is required</span>
      </li>
    </ul>
  </div>

  <form class="list-form">
    <ion-item>
      <ion-label floating>
        Loan Amount (₦)
      </ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <!-- <small ion-text color="danger" padding-left>
      Enter a valid loan amount
    </small> -->
  </form>

  <div class="" padding>
    <div class="item bg-circle-alt center-div">
      <div>
        Repayment<br> <strong>10-Mar-19</strong>
      </div>
    </div>
  </div>

  <div text-center>
    <button ion-button icon-start color="primary" (click)="moveToFinal()" >
      <ion-icon name="create"></ion-icon>
      Confirm Loan Now
    </button>
  </div>

</ion-content>
