<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dignity FastCredit</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="getting-started">
	<div class="home-hello">
    <img src="assets/imgs/10k-loan.fw.png" style="width: 100%"/>
	</div>

 <ion-grid>
  <ion-row>
      <ion-col>
        <div class="box red" text-center (click)="applyForLoan()">
           <ion-icon name="create"></ion-icon>
           <p>Apply for <br />Loan</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="box darkblue" text-center >
           <ion-icon name="bulb"></ion-icon>
           <p>How FastCredit <br />Works</p>
        </div>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <div class="box darkyellow" text-center (click)="applyForAirtime()" >
           <ion-icon name="call"></ion-icon>
           <p>Airtime Recharge<br />Loan</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="box green" text-center >
           <ion-icon name="at"></ion-icon>
           <p>Contact<br/>Us</p>
        </div>
      </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
