page-home {



  ion-icon {
    font-size: 50px; //Preferred size here
}

// IF the browser does NOT support the  CSS Grid Layout specification
// We rely on the use of the CSS Flexbox standard instead
.wrapper {
   display: flex;
   flex-wrap: wrap;
}


// IF the browser DOES support the CSS Grid Layout specification
// then the following rules are applied instead
.wrapper {
   display: grid;

   // Define a 10 pixel gap between each grid track
   grid-gap: 10px;

   // Define a rule, that will be repeated for each grid column, where
   // the grid track is set to a minimum width of 300 pixels and a maximum
   // width of the available space within the grid container (via the fr or
   // fraction unit)

   // The auto-fill value allows as many grid tracks to be fitted into the
   // width of the grid container as possible
   grid-template-columns: repeat(2, minmax(100px, 1fr));

   // Specify the height of the row - minimum value of 50 pixels and a maximum
   // value set to auto
   grid-auto-rows: minmax(80px, auto);

}

scroll-content {
    display: flex;
    flex-direction: column;
}

ion-grid {
    //padding: 0;
    //height: 100%;
}

ion-row {
    flex: 1;
}

// Define the header/footer tag values
header,
footer {
   padding: 3em;
   margin-left: 5px;
   margin-right: 5px;
   // Add a flex rule for browsers not supporting the
   // CSS Grid Layout spec
   flex: 0 1 100%;
   // Define the start and end values for the grid column
   grid-column: 1 / -1;
   text-align: center;
   border-width: thin;
   border-color: black;
   // background-color: rgba(175, 186, 202, 1);
}


// Define the style rules for each panel within the grid
// container
.box {
   color: white; //rgb(54, 52, 53);
   border-radius: 5px;
   padding: 1em;
   padding-top: 2em;
   margin-left: 5px;
   margin-right: 5px;
   font-weight: bold;
   // Add a flex rule for browsers not supporting the
   // CSS Grid Layout spec
   //flex: 1 1 300px;

   flex: 1;

   align-content: center;
   h2 {
      font-weight: bold;
  }
    p {
      //font-weight: bold;
      //font-size: 120%;
    }
}

.box:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
}


// We need to ensure that browsers that fall back to the
// Flexbox rules add a bottom margin of 10 pixels to all
// direct child elements within the grid container (to
// emulate the grid gap)
.wrapper > * {
  margin-bottom: 10px;
}


// Use a feature query to determine if the browser supports
// a specific CSS rule - in this case the display: grid property

// If the rule is supported then we remove the flexbox fallback
// rule of adding 10 pixels to the bottom margin of each child
// decendent of the grid container (to emulate the grid gap)
@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}



// Add the necessary classes for styling the
// background colours of each panel in the
// project UI
.red {
  background-color: #ff3737;
}

.green {
  // background-color: rgba(187, 225, 123, 1);
  background-color: rgba(2, 139, 0, 0.644);
}

.darkblue {
  background-color: #6600CC;
}

.darkyellow {
  background-color: #FF9900;
}

.darkgreen {
  background-color: #666633;
}

.blue {
  background-color: rgba(131, 150, 225, 1);
}

.purple {
  background-color: rgba(155, 121, 170, 1);
}

.yellow {
    background-color: rgba(235, 229, 39, 1);
}

.violet {
    background-color: rgba(213, 118, 211, 1);
}

.orange {
  background-color: rgba(213, 151, 46, 1);
}

.turquoise {
  background-color: rgba(105, 203, 217, 1);
}



  .getting-started {
    .home-hello {
      position: relative;

      .hello-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.6);
        padding: 10px;
      }

      h1 {
        margin-top: 0;
      }
    }

    .home-hello-bottom {

      color: white;

      .hello-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border: 0;
        background: rgba(255, 0, 0, 0.986);
        padding: 10px;
      }

      h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 19px;
      }
    }

    .tile {
      .item {
        padding: 0;
      }

      .item-inner {
        padding: 0;
      }

      h2 {
        text-align: center;
      }

      h1 {
        text-align: center;
        padding-bottom: 10px;
      }
    }

    ion-item-content {
      margin: 0;
    }

    .quick-action {
      width: 100%;
      ion-icon {
        font-size: 2em;
        width: 20px;
      }
      span {
        font-size: 1.6rem;
        padding-left: 10px;
        padding-top: -3px;
        vertical-align: text-bottom;
      }
    }
  }


}
