$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";


$colors: (
  primary: #fa2a0f,
  secondary: #ad605d,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       rgb(24, 0, 0)
);


@import "ionic.theme.default";

@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";


$text-color:        #000;
$background-color:  rgb(255, 255, 255);

