<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>FastCredit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header style="margin-bottom: 0px;">Account</ion-list-header>
      <button ion-item menuClose (click)="openPage('loan-history')">
        <ion-icon item-start name="filing"></ion-icon>
        My Loans
      </button>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-start name="mail-open"></ion-icon>
        Messages
      </button>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-start name="list-box"></ion-icon>
        Profile
      </button>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-start name="log-out"></ion-icon>
        Log Out
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header style="margin-bottom: 0px;">Learn More</ion-list-header>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-start name="bulb"></ion-icon>
        Introduction to FastCredit
      </button>
    </ion-list>



  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

