<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Airtime Loan</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">

    <ion-card>
      <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/naira-phone.fw.png" >
        </ion-avatar>
        <h2>Get up to <strong>₦10,000</strong> airtime loan</h2>
        <p>For emergency phone calls and data.</p>
      </ion-item>

      <ion-card-content>
        <ion-card-title>
          Other Details
        </ion-card-title>
        <p>
          The full details.
        </p>
      </ion-card-content>

    </ion-card>

    <div class="border-bottom" padding>
      <span ion-text color="dark" class="bold">Select Airtime Loan Amount<br></span>

      <ion-list radio-group >
        <ion-row no-padding>
          <ion-col col-4 >
            <ion-item>
              <ion-radio value="500"></ion-radio>
              <ion-label>₦500</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-4 >
            <ion-item>
              <ion-radio value="1000"></ion-radio>
              <ion-label>₦1K</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-radio value="2000"></ion-radio>
              <ion-label>₦2K</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col col-4 >
            <ion-item>
              <ion-radio value="3000"></ion-radio>
              <ion-label>₦3K</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-4 >
            <ion-item>
              <ion-radio value="5000"></ion-radio>
              <ion-label>₦5K</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-4 >
            <ion-item>
              <ion-radio value="10000"></ion-radio>
              <ion-label>₦10K</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>

<!--
      <ion-segment>

          <ion-segment-button value="500">
            <ion-label>₦500</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1000">
            <ion-label>₦1,000</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2000">
            <ion-label>₦2,000</ion-label>
          </ion-segment-button>


          <ion-segment-button value="3000">
            <ion-label>₦3,000</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5000">
            <ion-label>₦5,000</ion-label>
          </ion-segment-button>
          <ion-segment-button value="10000">
            <ion-label>₦10,000</ion-label>
          </ion-segment-button>

      </ion-segment>
-->
    </div>

    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          Telephone Number
        </ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <!-- <small ion-text color="danger" padding-left>
        Enter a valid loan amount
      </small> -->
    </form>

    <div text-center padding>
      <button ion-button icon-start color="primary" (click)="moveToFinal()" >
        <ion-icon name="create"></ion-icon>
        Confirm Airtime Loan Now
      </button>
    </div>

</ion-content>
