<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Apply for Loan</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">


    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/dignity-icon32.fw.png" >
        </ion-avatar>
        <h2>₦10,000 @ 15%</h2>
        <p>15 Days Sharp Sharp Loan</p>
      </ion-item>

        <ion-card-content>
          <ion-card-title>
            ₦10,000
          </ion-card-title>
          <p>
            To access this loan, just click on the apply button and enter your details. You will be instantly pre-approved for a quick loan. Your account will be credited within 24 hours after final approval.
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col></ion-col>
          <ion-col text-center></ion-col>
          <ion-col text-right>
              <button ion-button small color="danger" icon-left (click)="moveToTerms()" >
                <ion-icon name='create'></ion-icon>
                Apply
              </button>
          </ion-col>
        </ion-row>
    </ion-card>


    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/dignity-icon32.fw.png" >
        </ion-avatar>
        <h2>₦10,000 - N200,000 @ 22%</h2>
        <p>Quick Loan for 60 Days</p>
      </ion-item>

        <ion-card-content>
          <ion-card-title>
            ₦10,000 - N200,000
          </ion-card-title>
          <p>
            To access this loan, just click on the apply button and enter your details. You will be instantly pre-approved for a quick loan. Your account will be credited within 24 hours after final approval.
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col></ion-col>
          <ion-col text-center></ion-col>
          <ion-col text-right>
              <button ion-button small color="danger" icon-left (click)="moveToTerms()" >
                <ion-icon name='create'></ion-icon>
                Apply
              </button>
          </ion-col>
        </ion-row>
    </ion-card>

</ion-content>
