page-loan-history {


  .center-div {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;

    padding-bottom: 10%;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
    overflow: hidden;
    box-shadow: 0 0 3px gray;

    background-color: rgb(246, 55, 55);
  }

  .bg-circle-alt div {
    float:left;
    width:100%;
    padding-top:40%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;

    color: white;
    font-size: 120%;
    font-weight: bold;
}


}
