<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Loan History</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <img alt="logo" height="40" src="assets/imgs/dignity-icon32.fw.png" >
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">


    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <div class="">
            <div class="item bg-circle-alt center-div">
              <div> 200 Pts </div>
            </div>
          </div>
        </ion-avatar>
        <h2>Quick 30 Day Loan</h2>
        <p>Loan Basic Details</p>
      </ion-item>

        <ion-card-content>
          <ion-card-title>
              ₦ 10,000 due <strong>20-Mar-19</strong>
          </ion-card-title>
          <p>
            The full details.
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button ion-button small color="danger" icon-left (click)="moveToPayment()" >
              <ion-icon name='cash'></ion-icon>
              Pay Off Loan
            </button>
          </ion-col>
          <ion-col text-center></ion-col>
          <ion-col text-right>
            <button ion-button small color="secondary" icon-left (click)="moveToLoanView()" >
              <ion-icon name='filing'></ion-icon>
              View Loan
            </button>
          </ion-col>
        </ion-row>
    </ion-card>


    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <div class="">
            <div class="item bg-circle-alt center-div">
              <div> 200 Pts </div>
            </div>
          </div>
        </ion-avatar>
        <h2>Quick 30 Day Loan</h2>
        <p>Loan Basic Details</p>
      </ion-item>

      <ion-card-content>
        <ion-card-title>
            ₦ 10,000 due <strong>20-Mar-19</strong>
        </ion-card-title>
        <p>
          The full details.
        </p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button small color="danger" icon-left (click)="moveToPayment()" >
            <ion-icon name='cash'></ion-icon>
            Pay Off Loan
          </button>
        </ion-col>
        <ion-col text-center></ion-col>
        <ion-col text-right>
          <button ion-button small color="secondary" icon-left (click)="moveToLoanView()" >
            <ion-icon name='filing'></ion-icon>
            View Loan
          </button>
        </ion-col>
      </ion-row>
    </ion-card>



</ion-content>
